.legal-text-content{
    padding: 12px 32px;
    background-color: rgba(240, 233, 233, 0.869);
}

.legal-title {
    margin: 16px 0;
    padding: 0 0 2px 0;
    border-bottom: 2px solid grey;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .8px;
    text-align: center;
}
.legal-description {
    margin: 0 0 16px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.8rem;
    margin-bottom: 4rem;
}
.legal-footer {
    padding: 24px 40px;
    display: block;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .8px;
    line-height: 1.6rem;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .legal-section {
        padding: 24px;
    }
    .legal-title {
        font-size: 24px;
    }
    .legeal-description {
        font-size: 16px;
    }
    .legal-footer {
        padding: 12px 20px;
        text-align: center;
        font-size: 16px;
    }
}